.o_form_view.o_purchase_request_full_width .o_form_sheet_bg {
    width: 100%;
    max-width: none;
}

.o_form_view.o_purchase_request_full_width .o_form_sheet_bg > .o_form_sheet {
    width: calc(100% - 32px);
    max-width: none;
    margin-left: 16px;
    margin-right: 16px;
}

.o_form_view.o_purchase_request_full_width .o_form_statusbar {
    width: calc(100% - 32px);
    max-width: none;
    margin-left: 16px;
    margin-right: 16px;
}

.o_form_view.o_purchase_request_full_width .o_inner_group {
    width: 100%;
}
